    <!DOCTYPE html>
    <html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Adicionar Produtos</a></li>
            </ul>
        </nav>
        <div id="main-content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <!-- Footer content -->
        </footer>
    </body>
    </html>