{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1>Produtos cadastrados</h1>
    <div class="tabela-conteiner">
        <table class="tabela-estilizada">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>{{produto.categoria}}</td>
                    <td><a href="">Editar</a></td>
                    <td><a href="{{ url_for('remover_produto', id=produto.id)}}" onClick="return confirm('Tem certeza que deseja deletar esse registro?')">Excluir</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}